/* Write your CSS here */
li {
  margin-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrow-btn {
  height: 30px;
  background-color: transparent;
  border: 0px;
}

img {
  height: 30px;
  cursor: pointer;
  outline: none;
}
